img {
  width: 25%;
  display: block;
  margin: auto;
}
h2{
  text-align: center;
}
h4 {
  text-align: center;
}
h5 {
  text-align: center;
}

#logo {
  float: left;
}


.movie-tile {
  border-bottom: 2px lightgrey solid;
  padding-bottom: 30px;
}

#title{
  font-family: 'Bungee Shade', cursive;

}
