<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>About Us</h2>

<img src="assets/images/dan.jpeg" class="circle" alt="Dan"/>
<img src="assets/images/david.jpeg" class="circle" alt="David"/>

<h4>We're just two dudes who love watching movies! We decided to drop everything in life and pursue this movie blog as our full time job and it has paid off. We are so excited to bring you guys new content and the best reviews for all your favorite movies. Join us and add your own reviews to this treasure trove of amazing goodness! Kabow!!</h4>
